<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-xs-6">
			  <p>
			    <a class="footer-btn" href="/">Blog</a>|<a class="footer-btn" href="/about/">About</a>
			    <br>
			    &copy; 2014 Pebbles Games
			  </p>
			</div>
			<div class="col-sm-4 hidden-xs">
				<a class="footer-logo" href="/">PebbleS</a>
			</div>
			<div class="col-sm-4 col-xs-6 footer-cred">
				<p>
					<a target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
					<!--<a target="_blank" href="{{ site.facebook_url }}"><i class="fa fa-facebook-square"></i></a>-->
					<a target="_blank" href="/feed.xml"><i class="fa fa-rss"></i></a>
					<br>
				 	Background by <a target="_blank" href="http://opengameart.org/content/seamless-rock-texture-2">Etory</a>.
				</p>
			</div>
		</div>
	</div>
</footer>
